# Database Configuration
DB_HOST=localhost
DB_NAME=golden9-db
DB_USER=liuhanyu
DB_PASSWORD=1215
DB_PORT=5432

# JWT Secret Key (IMPORTANT: Change this to a secure random string in production)
JWT_SECRET=woaidataiqiu123
PORT=3000